@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}

.serviceShadow {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.16);
}

@layer components {
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    @apply appearance-none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield;
  }
}

.custom-quill .ql-container {
  border: none !important;
}

.custom-bg {
  background: rgb(239, 192, 0);
  background: linear-gradient(
    150deg,
    rgba(239, 192, 0, 1) 50%,
    rgba(42, 94, 116, 1) 50%
  );
}
